<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
    
  </h1>
  

  <div>{{wohngemeinschaft.name}}</div></div>


  <div *ngIf ="wohngemeinschaft">
    
      
      <div class="note-container_neu">
        <h2>Notes</h2>
        <div class="note-grid">
          <div *ngFor="let note of wohngemeinschaft.notes" class="note-card">
            <h3 class="note-title">{{ note.author.name }}: </h3>
            
            <p class="note-content">{{ note.text }}</p>
            <div class="note-actions">
              <button (click)="openModalEdit(note,note.text)">Edit</button>
              <button (click)="deleteNote(note.id)">Delete</button>
            </div>
          </div>
        </div>
        <div class="container"  id="main-container"><button type="button" class="btn-primary" (click)="  openModal('myModal')">
          Notiz hinzufügen
        </button></div>
      </div>
    
    </div>
      
        <!--<button (click)="addNote()">Add New Note</button>-->

        
<!-- Button trigger modal 
<div><button type="button" class="btn-primary" (click)="openModal()">
  Notiz hinzufügen
</button></div>-->












<!-- add NotizModal  -->
<div class="modal" id="myModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Notiz</h5>
        <button type="button" class="close" (click)="closeModal('myModal')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
          
        <div class="modal-body">
          <div>
            <label for="noteTitle">Roommate:</label><br>
            <input type="text" id="noteAuthor" [(ngModel)]="name" name="name" style="width: 100%; margin-bottom: 10px;"><br>
            <label for="noteContent">Content:</label><br>
            <textarea id="noteContent"[(ngModel)]="text" name="text" style="width: 100%; height: 200px;"></textarea>
          </div>
          
        </div>
      
      </div>
      <div class="modal-footer">
       <button type="button" class="btn btn-secondary" (click)="closeModal('myModal')">Close</button>
        <button type= "submit" class="btn btn-primary"(click)="closeModal('myModal');onAddNote()">Add</button>
      </div>
    </div>
  </div>
</div> 


<!-- Edit Note Modal -->
<div class="modal" id="editNoteModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="editNoteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editNoteModalLabel">Notiz bearbeiten</h5>
         <button type="button" class="close" (click)="closeModal('editNoteModal')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
     <div class="modal-body">
        
          <div>
            <label for="editNoteAuthor">Roommate:</label><br>
            <p>{{selectednote?.author?.name}}</p>
            <label for="editNoteContent">Content:</label><br>
          <textarea id="editNoteContent" [(ngModel)]="updatetext" name="updatetext" class="form-control" style="width: 100%; height: 200px;"></textarea>
          <!--  <textarea id="editNoteContent" [(ngModel)]="selectednote?.text" name="updatetext" class="form-control" style="width: 100%; height: 200px;"></textarea>-->

          </div>
    
      </div>
       <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal('editNoteModal')">Close</button>
        <button type="submit" class="btn btn-primary" (click)="closeModal('editNoteModal');editNote()">Save changes</button>
      </div>
    </div>
  </div>
</div>









<app-note></app-note>
      
      
      
      <!-- Modal 
      <div class="modal fade" id="deleteEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
           <div class="modal-content">
              <div class="modal-header">
                 <h5 class="modal-title" id="deleteModelLabel">Delete Employee</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
                 </button>
              </div>
              <div class="modal-body">
                 <p>Are you sure you want to delete employee ?</p>
                 <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    
                 </div>
              </div>
           </div>
        </div>
      </div>
      </div>-->